@import "../../../global.scss";

.headerSec{
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #242442;
    color: #fff;
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    @include globalGradient();

    span{
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .SearchIcon{
        float: right;
        margin-right: 0;
    }
}